/* ========COMMON-STYLES======== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 288px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .container {
     max-width: 736px;   
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section-paddings {
    padding-top: 120px;
    padding-bottom: 120px;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h2,
h3 {
    color: #2e2f42;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*================HEADER==================*/
.nav-list {
    display: none;
}
.page-contacts {
    display: none;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .accent-color {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}
.mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
    line-height: 0;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.page-header {
    padding: 16px 0;
}

.mobile-menu {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #2e2f42;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 8px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mobile-menu-close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 8px;
}
.mobile-menu .mobile-menu-nav-list-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .mobile-menu-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu .studio-link {
    color: #404bbf;
}
.mobile-menu .mobile-menu-nav-list-link:hover,
.mobile-menu .mobile-menu-nav-list-link:focus {
    color: #404bbf;
}
.mobile-menu-navigation {
    margin-bottom: 168px;
    flex-grow: 1;
}
.mobile-menu-contacts {
    margin-bottom: 48px;
}
.mobile-menu-contacts-list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
}
.mobile-menu .phone-link {
    color: #4d5ae5;
}
.mobile-menu-contacts-list-item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu-social-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 8px;
    padding: 0;
}
.mobile-menu-social-list-item {
    width: 40px;
    height: 40px;
}
.mobile-menu-social-list-link {
    display: flex;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-list-link:hover,
.mobile-menu-social-list-link:focus {
    background-color: #404bbf;
}

.mobile-menu-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
    .page-header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-navigation {
        display: flex;
        align-items: center;
        }

    .nav-list {
            display: flex;
            gap: 40px;
        }
   
    .page-contacts {
            display: flex;
        }
    .page-header .nav-list-link {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding-top: 24px;
            padding-bottom: 24px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
    .page-header .studio-link {
            position: relative;
            color: #404bbf;
                }
        
    .page-header .studio-link::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #404bbf;
            display: block;
            left: 0;
            bottom: -1px;
                }
        
    .page-header .nav-list-link:hover,
    .page-header .nav-list-link:focus {
            color: #404bbf;
                }
    address {
            font-style: normal;
                                }
                
    .page-header .contacts-list-link {
            color: #434455;
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                }
                
   
                
    .page-header .contacts-list-link:hover,
    .page-header .contacts-list-link:focus {
            color: #404bbf;
                                }
                
    .page-header-container {
            display: flex;
            padding-right: 0;
            padding-left: 0;
            justify-content: space-between;
                                }
                
    .contacts-list {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            gap: 12px;
                                }
                
}
@media screen and (min-width: 1158px) {
    .contacts-list {
        flex-direction: row;
        }
    .page-header-container {
        padding-right: 15px;
        padding-left: 15px;
    } 
    .contacts-list-item:not(:last-child) {
        margin-right: 40px;
    }

}
/*==================HERO=================*/
.hero {
    background-color: #2e2f42;
    max-width: 320px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.hero-header {
    max-width: 216px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}
.order-service-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: #404bbf
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
            background-image: url(../images/mobile-bg@2x.jpg);
        }
}

@media screen and (min-width: 768px) {
    .hero {
     background-image: url(../images/tablet-bg.jpg);  
     max-width: 768px;
     height: 436px; 
     padding-top: 112px;
     padding-bottom: 112px;
    }
    .hero-header {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url(../images/tablet-bg@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
     background-image: url(../images/desktop-bg.jpg);
     max-width: 1440px;
     height: 600px;
     padding-top: 188px;
     padding-bottom: 188px;
        }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: url(../images/desktop-bg@2x.jpg);
    }
    .hero-header {
        margin-bottom: 48px;
    }
}
/*==================FEATURES=====================*/
